<%- include('../partials/header') %>

<h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>

<form action="" method="GET">
    <input type="hidden" name="page" value="1">
    <div class="mb-3 row">
        <label for="stringdata" class="col-sm-2 col-form-label">String</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="stringdata" value="<%= query.stringdata %>">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="booleandata" class="col-sm-2 col-form-label">Boolean</label>
        <div class="col-sm-10">
            <select name="booleandata" class="form-control">
                <option value="">Choose the boolean</option>
                <option value="true"<%= query.booleandata == 'true' ? ' selected' : '' %>>true</option>
                <option value="false"<%= query.booleandata == 'false' ? ' selected' : '' %>>false</option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
    <a class="btn btn-warning" href="/">Reset</a>
</form>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>String</th>
            <th>Integer</th>
            <th>Float</th>
            <th>Date</th>
            <th>Boolean</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(item => { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.stringdata %></td>
            <td><%= item.integerdata %></td>
            <td><%= item.floatdata %></td>
            <td><%= moment(item.datedata).format('D MMMM YYYY') %></td>
            <td><%= item.booleandata %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item"
            <% if(page <= i) { %>
                class="disabled"
            <% } %>>
            <a class="page-link" href="/?page=<%= page <= 1 ? 1 : page - 1 %>" aria-label="Previous">
            <span aria-hidden="true">Previous</span>
            </a>
        </li>
        <% for (let i = 1; i <= pages; i++) { %>
        <li class="page-item<%= page == i ? ' active' : '' %>"><a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a></li>
        <% } %>
        <li class="page-item"
            <% if(page > pages - 1) { %>
                class="disabled"
            <% } %>>
            <a class="page-link" href="/?page=<%= page > pages - 1 ? parseInt(pages) : 1 + parseInt(page) %>" aria-label="Next">
            <span aria-hidden="true">Next</span>
            </a>
        </li>
    </ul>
</nav>


<!-- <nav>
    <div class="text-center">
        <ul class="pagination pagination-sm">
            <li
                    <% if(page <= 0) { %>
                    class="disabled"
                    <% } %>
            ><a href="?page=<%= page <= 0 ? 0 : page - 1 %>">&laquo;</a></li>
            <% for(var i = 0; i < pages; i++) { %>
            <li
                    <% if(page == i) { %>
                    class="active"
                    <% } %>
            ><a href="?page=<%= i %>"><%= i + 1 %></a></li>
            <% } %>
            <li <% if(page > pages - 1) { %>class="disabled"
                    <% } %>
            ><a href="?page=<%= page > pages - 1 ? parseInt(pages) : 1 + parseInt(page) %>">&raquo;</a></li>
        </ul>
    </div> -->


<%- include('../partials/footer') %>